.index_container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  height: auto;
  margin-bottom: 100px;
  overflow: hidden;
}
.div_firstpart {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  height: auto;
  margin-bottom: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fg {
  position: absolute;
}
.people_container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 1%;
  column-gap: 20px;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
}
.people_container > div {
  flex-basis: 30%;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .index_container {
    max-width: 1000px;
    margin: auto;
    height: auto;
    margin-bottom: 100px;
  }
  .fg {
    position: absolute;
  }
  .div_some_text {
    padding: 0 50px;
  }
  .people_container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 500px) {
  .people_container {
    margin: 0 1%;
    column-gap: 0px;
    place-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 80%;
    justify-self: center;
    align-self: center;
  }
  .people_container > div {
    width: 100%;
  }
}
