.about_dest_container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .about_dest_container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  .div_tours {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 50px;
    width: 90%;
    margin: auto;
    margin-top: 0;
    justify-content: center;
    align-items: center;
  }
  .div_tours > div {
    width: 90%;
    margin: auto;
  }
}
