.div_DetlaisDes {
  width: 90%;
  margin: auto;
  height: 600px;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  column-gap: 20px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #071c5560;
  border-radius: 5px;
}
.div_modal_contact {
  transition: visibility 10s;
  padding: 0 20px;
  display: none;
  width: 100% - 20px;
  height: 100%;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
  background-color: #071c55be;
  margin: 0;
}
.div_modal_contact > h4 {
  font-family: Playfair Display;
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
  margin: 0;
}
.div_modal_contact > p {
  font-family: Poppins;
  font-size: 16px;
  color: white;
  font-weight: 200;
  margin: 0;
  padding: 0;
  text-align: justify;
}
.div_DetlaisDes1 {
  flex-basis: 30%;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.div_DetlaisDe2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  column-gap: 20px;
  row-gap: 20px;
}

.div_DetlaisDes21 {
  width: 100%;
  height: 50%;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.div_DetlaisDes22 {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 20px;
}
.div_DetlaisDes222 {
  height: 100%;
  width: 100%;
  flex-basis: 50%;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .div_DetlaisDes {
    width: 80%;
    margin: auto;
    height: auto;
    display: grid;
   flex-direction : column;
    align-self: center;
    justify-self: center;
    margin-top: 50px;
    column-gap: 20px;
  row-gap: 20px;
  }
  .overlay {

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #071c5560;
    border-radius: 5px;
  }
  .div_modal_contact {
    transition: visibility 10s;
    padding: 0 20px;
    display: none;
    width: 100% - 20px;
    height: 100%;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    background-color: #071c55be;
    margin: 0;
  }
  .div_modal_contact > h4 {
    font-family: Playfair Display;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    margin: 0;
  }
  .div_modal_contact > p {
    font-family: Poppins;
    font-size: 16px;
    color: white;
    font-weight: 200;
    margin: 0;
    padding: 0;
    text-align: justify;
  }
  .div_DetlaisDes1 {
    flex-basis: 30%;
    width: 100%;
    height: 400px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .div_DetlaisDe2 {
  width : 100%;
  height: auto;
  display: grid;
  flex-direction: column;
  flex-basis: 70%;
  column-gap: 20px;
  row-gap: 20px;
}

.div_DetlaisDes21 {
  width: 100%;
  height: 400px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.div_DetlaisDes22 {
  height: auto;
  width: 100%;
  display: grid;
  flex-direction: column;
  column-gap: 20px;
  row-gap: 20px;
}
.div_DetlaisDes222 {
  height: 400px;
  width: 100%;
  flex-basis: 50%;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
}
