

.WeAreUe_container {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.to_docoraton {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom:  50px;
}
.powered_our_team {
  font-size: 40px;
  color: #071c55;
  font-weight: 800;
  text-align: start;
  font-family: Playfair Display;
  padding: 0;
  margin: 0;
}
.span_dicoration {
  background-image: url("../../public/images/slider-bg-right.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 25px;
  margin-top: -15px;
  margin-left: -5px;
  z-index: 50;
}




.we_are_ue_container_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1% 1%;
}

.item {
  margin: 0;
  padding: 0;
  gap: 10px 0px;
  flex-basis: 19%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}
.icon {
  margin: 0;
  padding: 0;
  color: #f3941e;
  font-size:  50px;
}
.name {
  margin: 0;
  padding: 0;
  font-family: Playfair Display;
  font-size:  20px;
  color : #071c55;
}
.text {
  margin: 0 ;
  padding: 0;
  font-family:  Poppins;
  font-size: 14px;
  color : #666;
}
