.Gellary_container {
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  grid-template-columns: 45% 45%;
  place-items: center;
  justify-self: center;
  align-self: center;
  row-gap: 15px;
  column-gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.Gellary_item {
  flex-basis: 45%;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 3px 9px #071c551f;
}
@media screen and (max-width: 1000px) {
  .Gellary_container {
    width: 100%;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: 80%;
    place-items: center;
    justify-self: center;
    align-self: center;
    row-gap: 15px;
    column-gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .Gellary_container {
    width: 100%;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: 50%;
    place-items: center;
    justify-self: center;
    align-self: center;
    row-gap: 15px;
    column-gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .Gellary_item {
  height: 120px;

}
}
