.title_tour_bem {
  color: #071c55;
  font-size: 17.5px;
  padding: 0;
  margin: 0;
}
#overview {
  color: #666;
  font-family: poppins;
  font-size: 15px;
  padding: 0;
  margin: 0;
  margin-left: 0px;
  text-align: justify;
}
.title_tour_content {
  color: #666;
  font-family: poppins;
  font-size: 15px;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  text-align: justify;
}
.title_tour_title {
  padding: 0;
  margin-left: 20px;
  color: #071c55;
  font-size: 18px;
  font-family: Playfair Display;
  cursor: pointer;
}
/*------------------first_child_item ---------------------*/
.first_item {
  border-left: 2px solid #f3941e;
  margin: 0px 0;
  border-radius: 1px;
  padding: 0;
  transition: 3s;
}
.first_child_item {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0px;
}
.day_tour_name_item {
  background-color: #f3941e;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  position: absolute;
  left: -13px;
  top: 18px;
}
.button_tour_show {
  width: 35px;
  height: 35px;
  background-color: #f8f8f8;
  border: 1px solid #071c55;
  color: #071c55;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: relative;
  top: 10px;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media screen and (max-width: 400px) {
  .title_tour_bem {
    color: #071c55;
    font-size: 17.5px;
    padding: 0;
    margin: 0;
  }
  #overview {
    color: #666;
    font-family: poppins;
    font-size: 15px;
    padding: 0;
    margin: 0;
    margin-left: 0px;
    text-align: justify;
  }
  .title_tour_content {
    color: #666;
    font-family: poppins;
    font-size: 15px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    text-align: justify;
  }
  .title_tour_title {
    padding: 0;
    margin-left: 20px;
    color: #071c55;
    font-size: 18px;
    font-family: Playfair Display;
    cursor: pointer;
  }
  /*------------------first_child_item ---------------------*/
  .first_item {
    border-left: 2px solid #f3941e;
    margin: 0px 0;
    border-radius: 1px;
    padding: 0;
    transition: 3s;
  }
  .first_child_item {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0px;
  }
  .day_tour_name_item {
    background-color: #f3941e;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    position: absolute;
    left: -13px;
    top: 18px;
  }
  .button_tour_show {
    width: 35px;
    height: 35px;
    background-color: #f8f8f8;
    border: 1px solid #071c55;
    color: #071c55;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: relative;
    top: 10px;
  }
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
