.div_tourcard_contaainer {
  height: auto;
  border-radius: auto;
  box-shadow: 0px 3px 9px #071c551f;
  font-size: 15px;
  color: #666;
  text-align: center;
  justify-content: center;
  font-family: Poppins;
  border-radius: 5px;
  margin:  0 ;
  padding: 0px;
  cursor: pointer;
  border-bottom: 5px solid rgb(218, 196, 196);
  width: 100%;
  flex-basis: 30%;
}
.card_image {
  height: 250px;
  border-radius: 5px 5px 0 0;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
}
.div_is_fuetered {
  background-image: url("../../public/images/shape-1.png");
  width: 50%;
  height: 16%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: poppins;
  font-size: 12px;
  background-position: center;

  position: absolute;
}
.div_info_about_this_tour {
  padding: 0 10px;
}
.tour_name {
  margin: 0;
  padding: 0;
  font-family: Playfair Display;
  color: #071c55;
  font-size: 18px;
  text-align: center;
}
.p_dec_tour {
  cursor: pointer;
  margin: 0;
  padding: 10px 0;
  word-wrap: break-word;
}
.div_of_border {
  margin: 10px 20px;
  border-bottom: 1px dashed #cfd3de;
  display: flex;
  padding: 10px 0;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.li_each_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pof_tour_deatails {
}
.li_each_items > svg {
  margin: 0 6px;
}
.div_info_price {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.pof_tour_deatails {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.descount {
  text-decoration: line-through;
}
.price_text {
  color: red;
  font-size: 30px;
}
