.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  margin-top: 10px;
  margin-left: 25px;
}
.div_links {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}
.details {
  width: 80%;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  font-family: Poppins;
}
.icon {
  width: 20%;
  cursor: pointer;
  color: #fff;
  font-size: 25px;
}

.user_image {
  background-color: red;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
}

.user_name{
  width: 80%;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-family: Playfair Display;
}
