.html {
  padding: 0;
  margin: 0;
}

.div_image_banner {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: Poppins;
  color: #071c55;
  width: 1404px;
}
.div_overley_tour {
  width: 100%;
  height: 500px;
  background-color: #071c5544;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tour_title {
  color: #ffffff;
  text-align: center;
  font-family: Playfair Display;
}
.tour_category {
  color: #ffffff;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
}
/*----------------Second div -----------------------*/
.div_info_tour {
  height: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 95%;
  top: 500px;
  left: 2.5%;
  right: 2.5%;
  margin: auto;
  background-color: #071c55;
  border-radius: 20px;
}

/*first child div*/
.div_info_images {
  width: 100%;

  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  object-fit: contain;  */
  display: grid;
  grid-template-columns: 30% 25% 40%;
  align-items: center;
  gap: 1.25%;
  justify-content: center;
  padding: 0 1.25%;
  margin-top: 50px;
}
.div_info_1 {
  height: 350px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.div_info_2 {
  height: 350px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.div_info_3 {
  height: 350px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.firstchild_images {
  height: 100%;
  width: 48.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.lastchild_images {
  height: 100%;
  width: 48.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.firstchild_images :first-child,
.lastchild_images :first-child {
  width: 100%;
  height: 48%;
  margin-bottom: 2%;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.firstchild_images :last-child,
.lastchild_images :last-child {
  width: 100%;
  height: 48%;
  margin-top: 2%;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*------------------------second div ---------------------*/
.div_info_tour_second {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 0;
  margin: 0;
}
.div_info_tour_second_firstchild {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}
.h3_morocco_tours {
  color: white;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 200;
  padding: 0;
  margin: 2.5px 0;
}
.span_duration_tour {
  color: white;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 200;
  padding: 0;
  margin: 2.5px 0;
}
.tour_name_second_div {
  color: white;
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  margin: 2.5px 0;
}
.span_duration_tour {
  color: white;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 200;
  padding: 0;
  margin: 2.5px 0;
}
.span_rating_tour {
  color: orange;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.tag_item {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0;
  margin: 0;
  gap: 0;
}
.each_tage_item {
  color: white;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 200;
  padding: 0 5px;
  margin: 1px;
  width: auto;
  background-color: #233974;
  border-radius: 3px;
}
/*-------------------------------------*/
.div_info_tour_second_secondchild {
  width: 90%;
  color: white;
  margin-left: 10%;
}
.div_second_firstchidl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1em solid white;
}
.just_book_now {
  font-family: Poppins;
  font-size: 15px;
}
.price_p_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
}
.price_p_items :first-child {
  color: orange;
  font-family: Playfair Display;
  font-size: 20px;
}
.price_p_items :last-child {
  text-decoration: line-through;
  font-family: Poppins;
  font-size: 16px;
}
.icons_items_tours_see {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
.icons_items_tour_see {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-family: Poppins;
}
.icons_svg {
  font-size: 18px;
}
.span_from {
  color: red;
  background-color: red;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media screen and (max-width: 400px) {
  .html {
    padding: 0;
    margin: 0;
  }
  .div_image_banner {
    width: 100%;
    max-width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: Poppins;
    color: #071c55;
  }
  .div_overley_tour {
    width: 100%;
    height: 400px;
    background-color: #071c5544;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tour_title {
    color: #ffffff;
    text-align: center;
    font-family: Playfair Display;
  }
  .tour_category {
    color: #ffffff;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
  }
  /*----------------Second div -----------------------*/
  .div_info_tour {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 95%;
    top: 500px;
    left: 2.5%;
    right: 2.5%;
    margin: auto;
    background-color: #071c55;
    border-radius: 20px;
  }

  /*first child div*/
  .div_info_images {
    width: 100%;

    /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  object-fit: contain;  */
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    gap: 0%;
    justify-content: center;
    padding: 0%;
    margin-top: 0px;
  }
  .div_info_1 {
    height: 350px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
  .div_info_2 {
    height: 350px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
  .div_info_3 {
    height: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .firstchild_images {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .lastchild_images {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .firstchild_images :first-child,
  .lastchild_images :first-child {
    width: 100%;
    height: 350px;
    margin-bottom: 0%;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .firstchild_images :last-child,
  .lastchild_images :last-child {
    width: 100%;
    height: 350px;
    margin-top: 0%;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /*------------------------second div ---------------------*/
  .div_info_tour_second {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    padding: 0;
    margin-top: 60px;
  }
  .div_info_tour_second_firstchild {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 0px;
  }
  .h3_morocco_tours {
    color: white;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 200;
    padding: 0;
    margin: 0 0;
  }
  .span_duration_tour {
    color: white;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 200;
    padding: 0;
    margin: 0 0;
  }
  .tour_name_second_div {
    color: white;
    font-family: Playfair Display;
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    margin: 0px 0;
  }
  .span_duration_tour {
    color: white;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 200;
    padding: 0;
    margin: 2.5px 0;
  }
  .span_rating_tour {
    color: orange;
    font-size: 16px;
    padding: 0;
    margin: 0;
  }
  .tag_item {
    display: grid;
    grid-template-columns: 100%;
    padding: 0;
    margin: 0;
    gap: 0;
  }
  .each_tage_item {
    color: white;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 200;
    padding: 0 5px;
    margin: 0px;
    width: auto;
    background-color: #233974;
    border-radius: 3px;
  }
  /*-------------------------------------*/
  .div_info_tour_second_secondchild {
    width: 100%;
    color: white;
    margin-left: 0%;
  }
  .div_second_firstchidl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1em solid white;
  }
  .just_book_now {
    font-family: Poppins;
    font-size: 15px;
  }
  .price_p_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
  }
  .price_p_items :first-child {
    color: orange;
    font-family: Playfair Display;
    font-size: 20px;
  }
  .price_p_items :last-child {
    text-decoration: line-through;
    font-family: Poppins;
    font-size: 16px;
  }
  .icons_items_tours_see {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    margin-top: 50px;
  }
  .icons_items_tour_see {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-family: Poppins;
  }
  .icons_svg {
    font-size: 18px;
  }
  .span_from {
    color: red;
    background-color: red;
  }
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
