.container {
  flex-basis: 50%;
  height: 40px;
  margin: 0;
  padding: 0;
  background-color: white;
  border-radius: 5px;
}
.form_search {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.input_search {
  width: 100%;
  height: 100%;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 0 10px;
  font-family: Poppins;
}
.button_search {
  background-color: #f3941e;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  width: 100px;
  max-width: 50px;
  font-family: Poppins;
}
.button_catgory {
  background-color: #f8f8f8;
  height: 100%;
  font-family: Poppins;
  width: 100px;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.div_search_area {
  position: absolute;
  top: 55px;
  left: 22.5%;
  width: auto;
  height: auto;
}
