.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.div_products {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.filter_change_div {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.button_change_array {
  background-color: #f3941e;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  border: none;
  color: #fff;
  cursor: pointer;
}
.array_info {
  font-family: Poppins;
  color: #666;
  font-size: 14px;
}

.button_see_all {
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  font-family: Montserrat, sans-serif;
  color: #007185;
  cursor: pointer;
  background-color: #eeeeee;
  height: 35px;
  width: 90%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0 10px;
  text-align: center;
  margin: 20px 0;
}
