.HomeDestenatons {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.div_items_button {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.what_to_know_about_tit {
  font-size: 25px;
  font-family: Playfair Display;
  color: #071c55;
  text-align: center;
}
.blue_corner_div {
  width: 5%;
  height: 500px;
  background-color: #071c55;
}
.button_home_explore {
  background-color: #f3941e;
  color: white;
  font-size: 15px;
  width: 130px;
  text-align: start;
  padding: 10px 10px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: none;
}

/*------------------------------------------------------------------------*/
.div_dest_items {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin: 0 10px;
  column-gap: 20px;
}

.container_des_card {
  top: 0;
  margin: 20px 0;
  padding: 0;
  position: relative;
  width: 325px;
  border-radius: 5px;
  min-width: 300px;
  box-shadow: 0px 3px 9px #071c551f;
  cursor: pointer;
  height: auto;
}

.animation_div {
  background-color: #fcdfbb;
  height: 10px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  position: absolute;
  bottom: 0;
}
.animated_div {
  height: 10px;
  width: 100%;
  background-color: #f3941e;
  border-radius: 0 0 5px 5px;
  animation-name: example;
  animation-duration: 1s;
  position: absolute;

  bottom: 0;
}
@keyframes example {
  from {
    background-color: #fcdfbb;
    width: 0;
  }
  to {
    background-color: #f3941e;
    width: 100%;
  }
}

.div_image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  background-position: center;
  border-radius: 5px 5px 0px 0px;
  position: relative;
}
.div_is_fuetered {
  background-image: url("../../public/images/shape-1.png");
  width: 50%;
  height: 16%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: poppins;
  font-size: 12px;
  background-position: center;

  position: absolute;
}
.tour_tour {
  margin: 0;
  padding: 0;
  font-family: Playfair Display;
  color: #071c55;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.some_content {
  font-family: Poppins;
  color: #666;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.square {
  margin: 0;
  padding: 0;
  position: relative;
  width: 300px;
  border-radius: 5px;
  min-width: 300px;
  box-shadow: 0px 3px 9px #071c551f;
  animation: shimmy 3s linear;
  animation-direction: left;
}

/*---------------------------------------------------------*/
.container_des_card2 {
  top: 0;
  margin: 20px 0;
  padding: 0;
  position: relative;
  border-radius: 5px;
  min-width: 300px;
  box-shadow: 0px 3px 9px #071c551f;
  cursor: pointer;
  height: 550px;
}
.div_person_des {
  width: 100%;
  margin: 0;
  padding-top: 5px;
  position: absolute;
  bottom: 40px;
}
.ovely {
  width: 100%;
  height: 100%;
  background-color: #071c5544;
  border-radius: 5px 5px 0 0;
}
.some_content_per {
  margin: 0 10px;
  font-family: Poppins;
  color: #666;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.mastion {
  font-family: Poppins;
  color: #071c55;
  margin: 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
