
.home_container {
  max-width: 1400px;
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}




.p {
  font-family: Poppins;
  color: #071c55;
}
