.item_image{
    width: 350px;
    height:150px ;
    object-fit: contain;
}

.rating_div_div{
    display: inline-block;
}

.item_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 10px 2.5%;
    background: white;
    height: 450px;
}
