.div_review {
  box-shadow: 0px 0px 40px #f7f8fa;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div_staricons {
  display: flex;
  justify-content:center;
  color: orange;
  align-items: center;
}
.title_tour_bem {
  color: #071c55;
  font-size: 17.5px;
  padding: 0;
  margin: 0;
  margin: 10px 0;
}
#overview {
  color: #666;
  font-family: poppins;
  font-size: 15px;
  padding: 0;
  margin: 0;
  margin-left: 0px;
  text-align: justify;
}
.title_tour_content {
  color: #666;
  font-family: poppins;
  font-size: 15px;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  text-align: justify;
}
.title_tour_title {
  padding: 0;
  margin-left: 20px;
  color: #071c55;
  font-size: 18px;
  font-family: Playfair Display;
  cursor: pointer;
}
