.div_review {
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 40px #f7f8fa;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: flex;
  flex-direction: row;
  justify-items: center;
  margin: 40px 0;
  height: auto;
}
.div_image {
  width: 10%;
}

.review_info {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: start;
  height: auto;
  padding: 0;
}
.div_staricons {
  display: flex;
  color: orange;
  font-size: 15px;
  width: 100%;
  margin: 4px 0;
}
.title_tour_bem {
  font-family: Playfair Display;
  color: #071c55;
  font-size: 17.5px;
  padding: 0;
  margin: 10px 0;
}

.title_tour_content {
  color: #666;
  font-family: poppins;
  font-size: 15px;
  padding: 0;
  margin: 4px 0;
  text-align: justify;
}
.title_tour_title {
  padding: 0;
  margin: 4px 0;

  color: #071c55;
  font-size: 18px;
  font-family: Playfair Display;
  cursor: pointer;
}
/*_________________________________________*/
.div_ReviewNote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
}
.contact_us_btn {
  background-color: #f3941e;
  color: white;
  font-size: 15px;
  width: 200px;
  text-align: center;
  padding: 0px 0px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: none;
  height: 50px;
}
.div_ReviewAlays {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.div_exllent {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  align-items: center;
  width: 40%;
}
.excllent {
  font-size: 50px;
  color: #071c55;
  padding: 0;
  margin-top: -50px;
}
.big_span {
  font-size: 100px;
  color: #071c55;
  padding: 0;
  margin: 0;
}

.vr_lin_div {
  width: 1px;
  height: 200px;
  background-color: #071c55;
}
.div_nonStars {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.five_stars {
  border-radius: 4px;
  width: 100%;
  height: 10px;
  background: #2ecc71;
  margin: 10px 0;
}
.nostarts {
  border-radius: 10px;
  width: 100%;
  height: 10px;
  background: #eeeeee;
  margin: 10px 0;
}

/*****************************************************************************************************/
.div_ReviewComponet {
  padding: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.div_review_container{
  flex-basis: 40%;
  display: flex; 
  flex-direction:column ;
  
}
.div_photo_cleint {
  border-radius: 5px;
  width: 100%;
  flex-basis: 40%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../public/images/merzouga-images/camp-mages/camp-images-6.jpg");
      box-shadow: 10px 10px 40px #B88266;

}
.anamimationbbbb {
  background-color: #f3941e;
  color: white;
  font-size: 15px;
  width: 130px;
  margin-bottom: 20px;
  padding: 10px 10px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: none;
  text-align: center;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE START CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media screen and (max-width: 1000px) {
  .div_review {
    box-shadow: 10px 10px 40px #f7f8fa;
    border-radius: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 40px 0;
    width: 100%;
  }
  .div_image {
    width: 10%;
  }

  .review_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .div_staricons {
    text-align: center;
    justify-content: center;
    display: flex;
    color: orange;
    font-size: 15px;
    width: 100%;
    margin: 4px 0;
  }
  .title_tour_bem {
    color: #071c55;
    font-size: 17.5px;
    padding: 0;
    margin: 10px 0;
  }

  .title_tour_content {
    color: #666;
    font-family: poppins;
    font-size: 15px;
    padding: 0;
    margin: 4px 0;
    text-align: center;
    text-align: center;
    justify-content: center;
  }
  .title_tour_title {
    padding: 0;
    margin: 4px 0;
    color: #071c55;
    font-size: 18px;
    font-family: Playfair Display;
    cursor: pointer;
  }
  /*_________________________________________*/
  .div_ReviewNote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
  }
  .contact_us_btn {
    background-color: #f3941e;
    color: white;
    font-size: 15px;
    width: 200px;
    text-align: center;
    padding: 0px 0px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    border: none;
    height: 50px;
  }
  .div_ReviewAlays {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .div_exllent {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
    width: 40%;
  }
  .excllent {
    font-size: 20px;
    color: #071c55;
    padding: 0;
    margin-top: 0px;
  }
  .big_span {
    font-size: 30px;
    color: #071c55;
    padding: 0;
    margin: 0;
  }

  .vr_lin_div {
    width: 100%;
    height: 1px;
    background-color: #071c55;
  }
  .div_nonStars {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .five_stars {
    border-radius: 4px;
    width: 100%;
    height: 10px;
    background: #2ecc71;
    margin: 10px 0;
  }
  .nostarts {
    border-radius: 10px;
    width: 100%;
    height: 10px;
    background: #eeeeee;
    margin: 10px 0;
  }


  /*.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-another div .-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-*/
  .div_ReviewComponet {
  padding: 50px 0;
  width: 100%;
  display: grid;
  grid-template-columns :80% ;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
justify-self: center;
}
.div_review_container{
  flex-basis: 100%;
  display: flex; 
  flex-direction:column ;
  
}
.div_photo_cleint {
  border-radius: 5px;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../public/images/merzouga-images/camp-mages/camp-images-6.jpg");
  box-shadow: 10px 10px 40px #B88266;

}
.anamimationbbbb {
  background-color: #f3941e;
  color: white;
  font-size: 15px;
  width: 130px;
  margin-bottom: 20px;
  padding: 10px 10px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: none;
  text-align: center;
}
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONE END CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
